{% extends "base.html" %}

{% block content %}
        <div class="hero_4">
            <h2 class="title-text_2">Know your impact<br>with Carbon Foodprint</h2>
            <p class = "title-content">As environmental awareness becomes increasingly important in the face of global warming, Carbon Foodprint brings the knowledge you need to make change.</p>
        </div>

        <div class = "content-div" style = "top:600px">
            <div>
              <h2 class = "secundary-title">About Us</h2>
            </div>
						<div class = "bio-section">
							<div class="bio">
								<img class="biopic" src = "/src/images/efraim.jpeg"/>
								<h3>Efraim Dahl</h3>
								<h4>Product Manager</h4>
							</div>
							<div class="bio">
								<img class="biopic" src = "/src/images/wesley.jpg"/>
								<h3>Wesley Chen</h3>
								<h4>Backend Developer</h4>
							</div>
							<div class="bio">
								<img class="biopic" src = "/src/images/jason.jpg"/>
								<h3>Jason Chee</h3>
								<h4>Full Stack Developer</h4>
							</div>
							<div class="bio">
								<img class="biopic" src = "/src/images/ellyn.jpg"/>
								<h3>Ellyn Liu</h3>
								<h4>CEO</h4>
							</div>
							<div class="bio">
								<img class="biopic" src = "/src/images/elaine.jpg"/>
								<h3>Elaine Wan</h3>
								<h4>Front End Developer</h4>
							</div>
						</div>
          </div>
{% endblock %}
