<!DOCTYPE html>
<html lang="en">
<html>
    <head>
      <title>Carbon FoodPrint</title>
    </head>
    <body>
        <div>
            Home:
            <a href="/index">Home</a>
            <a href="/about">About</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
    <footer class = "footer" style = "top:2640px">
      <a href = "/about">
        <p class = "foot-text">© 2020 Carbon Foodprint. All Rights Reserved.</p>
      </a>
    </footer>
</html>
